* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face { font-family: 'body';                     src: url('/fonts/IBMPlexSans-Regular.woff2') format('woff2'); }
@font-face { font-family: 'body'; font-style: italic; src: url('/fonts/IBMPlexSans-Italic.woff2') format('woff2'); }
@font-face { font-family: 'body'; font-weight: 800;   src: url('/fonts/IBMPlexSans-Bold.woff2') format('woff2'); }
@font-face { font-family: 'mono';                     src: url('/fonts/IBMPlexMono-Text-Latin1.woff2') format('woff2'); }
@font-face { font-family: 'light';                     src: url('/fonts/IBMPlexSans-Thin.woff2') format('woff2'); }

:root {
    --content-width: 900px;
}

body { FONT: 18px/28px body, sans-serif; }

body {
  color: #111;
  -webkit-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -moz-font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 50px auto;
}

a:visited {
    color: #333;
}

.page { width: 600px; margin: 0 auto; padding: 0 0 0 2px; }
.page_wide { width: 810px; }

.banner-image { 
    background-image: linear-gradient(black, black), url("banner.jpg");
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: saturation;
    position: relative;
    white-space: no-wrap;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 800;
    white-space: nowrap;
    font-size: 3em;
    font-family: 'light';
}

.menu { width: var(--content-width); margin: 0 auto 0; padding: 0 0 30px 0; vertical-align: top; }
.menu > li { list-style: none; display: inline-block; margin: 0 1.5em 0 0; vertical-align: top; }
.menu__item, a.menu__item { color: #00000050; border-color: transparent; display: inline-block; text-decoration: none; }
.menu__item_inside, a.menu__item_inside { border-bottom: 2px solid #00000030; }

.menu__item_selected,
a.menu__item_selected,
a.menu__item:hover { color: #000; border-bottom: 2px solid #000; }

.post { width: var(--content-width); margin: 15px auto; }
.post img { width: var(--content-width); }

.post-list { width: var(--content-width); margin: 15px auto; }
.post-short-header { }

.post-short-header a,
.post-short-header a:visited
{
    color: #333;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}
.post-short img {
    width: 100%;
}

.date {
    float: right;
    font-family: 'light';
}



ul { padding: 0 0 0 1em; list-style-type: square; }


