<!doctype html>
<html lang="en">
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157446657-1"></script>
	<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-157446657-1'); </script> 
    <link href='/assets/css/style.css' rel='stylesheet' type='text/css' />
    <link href="/images/favicon.png" rel="icon" sizes="32x32">
    <title>{{ page.title }} - Eric Zillinger</title>
    <link href="/assets/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/assets/css/brands.min.css" rel="stylesheet" />
    <link href="/assets/css/solid.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <ul class=menu>
    <li><a class="menu__item {%if page.title == "Blog"%} menu__item_selected {% endif %}" href="/">Blog</a>
    <li><a class="menu__item {%if page.title == "Projects"%} menu__item_selected {% endif %}" href="/projects/">Projects</a>
    <li><a class="menu__item {%if page.title == "Contact"%} menu__item_selected {% endif %}" href="/contact/">Contact</a>
    </ul>
    <div class=banner-image>
        <div class="blur">
        <div class="banner-text">
            {% if page.is_post %}
            <h1>Blog</h1>
            {% else %}
            <h1>{{ page.title }}</h1>
            {% endif %}
        </div>
</div>
    </div>
    {{ content }}
</body>
